footer span{
    color: rgb(34,187,255);
}
footer{
    font-size: 12px !important;
}
@font-face {
    font-family: "iconfont";
    /* Project id 4113856 */
    src: url('//at.alicdn.com/t/c/font_4113856_7k3jgx7erl4.woff2?t=1698659017034') format('woff2'),
        url('//at.alicdn.com/t/c/font_4113856_7k3jgx7erl4.woff?t=1698659017034') format('woff'),
        url('//at.alicdn.com/t/c/font_4113856_7k3jgx7erl4.ttf?t=1698659017034') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align:bottom;
}

.icon-weixin1:before {
    content: "\e870";
    color: rgb(11,150,130);
}