/* 侧边栏底部 */
footer span{
    color: rgb(34,187,255);
}
footer{
    font-size: 12px !important;
}
@font-face {
    font-family: "iconfont";
    /* Project id 4113856 */
    src: url('//at.alicdn.com/t/c/font_4113856_7y5ctas8v22.woff2?t=1699601493683') format('woff2'),
        url('//at.alicdn.com/t/c/font_4113856_7y5ctas8v22.woff?t=1699601493683') format('woff'),
        url('//at.alicdn.com/t/c/font_4113856_7y5ctas8v22.ttf?t=1699601493683') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    /* font-size: 16px; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiangweixin:before {
    content: "\e669";
color: #2bf
}
.icon-github:before {
    content: "\e63a";
}
/* 头像 */
#logo img{ border-radius: 10%; -webkit-border-radius: 10%; -moz-border-radius: 10%; -ms-border-radius: 10%; -o-border-radius: 10%; box-sizing: border-box; width: 100%; transform: scale(0.7); -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -ms-transform: scale(0.7); -o-transform: scale(0.7);
}
